
.slidebutton {
	animation: slide-in-top 1s ease-out infinite alternate-reverse backwards;
    button {
        border: none;
        background: none;
        i{
            color: white;
            font-size: 40px;
        }
    }
}

@media (min-width:1200px) {
  .slidebutton {
          i{
              font-size: 50px;
          }
      }
  }

  @keyframes slide-in-top {
    0% {
              transform: translateY(-30px);
      opacity: 0.3;
    }
    100% {
              transform: translateY(0);
      opacity: 1;
    }
  }
  